/* STYLESHEET */
* {
    margin: 0;
    padding: 0;
}

/* BACKGROUNDS */
body.home-main {
    background-image: url('https://imgur.com/NMsRDh3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body.skins-main {
    background-image: url('https://imgur.com/NMsRDh3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* NAVIGATION BAR */
nav {
    max-width: 100%;
    min-width: 1000px;
    height: 61px;
    background-color: rgba(0,0,0,0.5);
}

nav p {
    font-family: verdana;
    color: #FF9600;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 30px;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    font-family: arial;
    color: #e3e3e3;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
}

/* SKIN LISTING */
div.skin-list {
    font-family: verdana;
    color: black;
    text-align: center;
    padding-top: 100px;
}