/* STYLESHEET */
* {
    margin: 0;
    padding: 0;
}


/******** BACKGROUNDS ********/
body.home-main {
    background-color: #36454F;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body.skins-main {
    background-color: #36454F;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/******** NAVIGATION BAR ********/
nav {
    max-width: 100%;
    min-width: 1000px;
    height: 61px;
    background-color: rgba(0,0,0,0.5);
}

nav p {
    font-family: verdana;
    color: #FF9600;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 30px;
}

nav ul {
    float: left;
    padding-right: 30px;
    list-style: none;
    position: relative;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    color: #e3e3e3;
    font-size: 20px;
    padding: 18px 12px;
}

/* NAV HOVER COLORS */
nav ul li:nth-child(1) a:hover {
    color: #FF9600;
}

nav ul li:nth-child(2) a:hover {
    color: #50C878;
}

nav ul li:nth-child(3) a:hover {
    color: #FF66AA;
}

nav ul li:nth-child(4) a:hover {
    color: #1DA1F2;
}

nav ul li:nth-child(5) a:hover {
    color: #6441A5;
}

nav ul li:nth-child(6) a:hover {
    color: #FF0000;
}

/* HOME PAGE STYLING */


/* SKIN LISTING */
p.title {
    font-family: verdana;
    color: white;
    text-align: center; 
    padding: 50px;
}

.skins {
    display: block;
    text-align: center;
}

.skin-list {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}
