/* STYLESHEET */
* {
    margin: 0;
    padding: 0;
}

/* BACKGROUNDS */
body.home-main {
    background-color: #F6E3BA;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-position: center;*/
    background-size: cover;
}

body.skins-main {
    background-color: #F6E3BA;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* NAVIGATION BAR */
nav {
    max-width: 100%;
    min-width: 1000px;
    height: 61px;
    background-color: rgba(0,0,0,0.5);
}

nav p {
    font-family: verdana;
    color: #FF9600;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 30px;
}

nav ul {
    float: left;
    padding-right: 30px;
    list-style: none;
    position: relative;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    color: #e3e3e3;
    font-size: 20px;
    padding: 18px 12px;
}

nav ul li:nth-child(1) a:hover {
    color: #FF9600;
}

nav ul li:nth-child(2) a:hover {
    color: #50C878;
}

nav ul li:nth-child(3) a:hover {
    color: #FF66AA;
}

nav ul li:nth-child(4) a:hover {
    color: #1DA1F2;
}

nav ul li:nth-child(5) a:hover {
    color: #6441A5;
}

nav ul li:nth-child(6) a:hover {
    color: #FF0000;
}


/* SKIN LISTING */
.skin-list {
    font-family: verdana;
    color: black;
    text-align: center;
    padding-top: 100px;
}